*{
    font-family: 'Nunito', sans-serif;
}

.main-color-bg{
    background-color: #5CDB95;
}

.second-color-bg{
    background-color: #379683;
}

.third-color-bg{
    background-color: #05386B;
}

.center-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.default-body{
    width: 100%;
    min-height: 100%;
    padding-top: 120px;
}

.image-container{
    max-width: 100%;
}

.image{
    object-fit: cover;
    width: 100%;
}



